#main-content{
    display: flex;
    justify-content: center;
    background: blue;
}

#title{
    /* color: red; */
    /* background: blue; */
    display: flex;
    justify-content: center;
}

#form-wraper{
    /* background: blue; */
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 20px;
}
#form-title{
    display: flex;
    justify-content: left;
    /* background: yellow; */
    width: 100%;
    margin-bottom: 20px;

}

label {
    margin-right: 10px;
  }

#selectOption{
width: auto;
  }

.wrapper-div{
    /* background: red; */
    margin-top: 20px;
}